# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 环境变量
.env


# 日志
logs/
*.log

# 上传文件
uploads/
media/

# 测试
.pytest_cache/
.coverage
htmlcov/

# Alembic
alembic/versions/*.pyc
data/hrm2.db
.kiro/steering/product.md
.kiro/steering/structure.md
.kiro/steering/tech.md
data/hrm2.db
